 /* css/style.css */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    background:#090909;
    color:#ffffff;
    font-family:'Montserrat', sans-serif;
}


html{
    scroll-behavior:smooth;
}


a{
    text-decoration:none;
    color:white;
}


/* HEADER */

header{
    width:100%;
    padding:35px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:absolute;
    top:0;
    z-index:10;
}


.logo h2{
    font-family:'Cormorant Garamond',serif;
    letter-spacing:4px;
    font-size:32px;
}


.logo span{
    color:#c8a45d;
    font-size:12px;
    letter-spacing:3px;
}



nav{
    display:flex;
    gap:35px;
}


nav a{
    font-size:13px;
    letter-spacing:2px;
    transition:.3s;
}


nav a:hover{
    color:#c8a45d;
}



/* HERO */

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    padding:120px 8% 80px;
    gap:50px;
}


.hero-content{
    width:50%;
}


.hero-content>p:first-child{
    color:#c8a45d;
    letter-spacing:5px;
    font-size:13px;
}



.hero h1{
    font-family:'Cormorant Garamond',serif;
    font-size:90px;
    line-height:.9;
    font-weight:600;
    margin:25px 0;
}


.hero h1 span{
    color:#c8a45d;
}



.description{
    max-width:480px;
    color:#bdbdbd;
    line-height:1.8;
    font-size:15px;
    margin-bottom:40px;
}



.hero-image{
    width:50%;
    height:650px;
    overflow:hidden;
}



.hero-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}




/* BUTTON */


.btn{
    display:inline-block;
    padding:18px 35px;
    border:1px solid #c8a45d;
    color:#c8a45d;
    letter-spacing:2px;
    font-size:13px;
    transition:.4s;
}


.btn:hover{
    background:#c8a45d;
    color:#000;
}



/* SERVICES */


.services{
    padding:80px 8%;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}



.service-card{
    background:#111;
    padding:40px 25px;
    border:1px solid #222;
    transition:.4s;
}



.service-card:hover{
    transform:translateY(-10px);
    border-color:#c8a45d;
}


.service-card h3{
    font-size:16px;
    letter-spacing:2px;
    margin-bottom:20px;
}


.service-card p{
    color:#999;
    line-height:1.7;
    font-size:14px;
}




/* PROJECTS */


.projects-preview{
    padding:100px 8%;
    text-align:center;
}


.projects-preview h2{
    font-family:'Cormorant Garamond',serif;
    font-size:60px;
    margin-bottom:50px;
}



.project-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    margin-bottom:50px;
}



.project-card{
    background:#111;
    overflow:hidden;
    text-align:left;
}



.project-card img{
    width:100%;
    height:350px;
    object-fit:cover;
}



.project-card h3{
    padding:20px 20px 5px;
}



.project-card p{
    padding:0 20px 25px;
    color:#c8a45d;
}




/* CONTACT */


.contact{
    padding:100px 8%;
    text-align:center;
    background:#111;
}



.contact h2{
    font-family:'Cormorant Garamond',serif;
    font-size:65px;
}



.contact p{
    margin:25px auto 40px;
    color:#aaa;
}




/* FOOTER */


footer{
    padding:50px 8%;
    text-align:center;
}



.social-links{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
    margin-bottom:30px;
}



.social-links a{
    color:#aaa;
    font-size:14px;
}


.social-links a:hover{
    color:#c8a45d;
}



/* MOBILE DESIGN */


@media(max-width:900px){


header{
    padding:25px;
    flex-direction:column;
    gap:20px;
}



nav{
    gap:15px;
    flex-wrap:wrap;
    justify-content:center;
}



.hero{
    flex-direction:column;
    padding:140px 25px 60px;
}



.hero-content,
.hero-image{
    width:100%;
}



.hero h1{
    font-size:60px;
}



.hero-image{
    height:450px;
}




.services{
    padding:50px 25px;
    grid-template-columns:1fr;
}



.projects-preview{
    padding:60px 25px;
}



.projects-preview h2{
    font-size:45px;
}



.project-grid{
    grid-template-columns:1fr;
}



.project-card img{
    height:300px;
}



.contact{
    padding:70px 25px;
}



.contact h2{
    font-size:45px;
}


  }
.hidden{
    opacity:0;
    transform:translateY(40px);
    transition:1s ease;
}


.show{
    opacity:1;
    transform:translateY(0);
}
